.HomeContainer{
	width: 100%;
	min-height: 100vh;
	background: #f4f4f4;
	display: flex;
	flex-direction: column;
}

.HomeContainer .HomeCenter{
	width: 100%;
	display: flex;
	background: #f4f4f4;
}

.HomeContainer .HomeCenter.HomeCenter--single{
	flex-direction: column;
}

.HomeContainer .HomeCenter .HomeLeft{
	width: 70%;
	padding: 20px;
	background: #F4F4F4;
}

.HomeContainer .HomeCenter .HomeLeft.HomeLeft--single{
	width: 100%;
}

.HomeContainer .HomeCenter .HomeRight{
	width: 30%;
	padding: 20px;
	background: #F4F4F4;
}

/* Khi HomeContainer nằm trong AppShell */
.app-body .HomeContainer{
	min-height: auto;
	height: 100%;
}

.header-wrapper{
	width: 100%;
	background: linear-gradient(135deg, #ff7a00, #ff4b00);
	padding: 12px 0;
	display: flex;
	justify-content: center;
	color: #fff;
}

.header-inner{
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left,.header-right{
	display: flex;
	gap: 20px;
	align-items: center;
}

.lang,.app-download,.profile{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 15px;
	cursor: pointer;
}

.header-center{
	text-align: center;
	max-width: 450px;
}

.futa-logo{
	height: 55px;
	margin-bottom: 5px;
}

.route{
	font-size: 24px;
	margin: 0;
	font-weight: 700;
}

.date{
	margin: 0;
	font-size: 16px;
	opacity: 0.9;
}

.avatar{
	font-size: 22px;
}


